body{
    background: linear-gradient(to bottom,red,orange,yellow,green,blue,indigo,purple);
height: 100vh;
}
div{
    background-color: violet;
    color: white;
    text-align: center;
    width: 350px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15%;
    border: 3px solid white;
    font-size: large;
    box-shadow: 2px 3px 10px white;
}