body{
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,purple);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    line-height: 1.6;
    list-style: none;
    }
    header{
     background:(45deg,red, orange, yellow, green, blue, indigo, purple);
    background-color:#54f0db ;
     text-align: center;
     padding: 20px;
     border: 3px solid white;
     border-radius: 15px;
    }
    header h1{
        font-family: Arial, Helvetica, sans-serif ;
        font-size: 20px;
        text-transform: capitalize;
    }
    header p{
        margin: 5px 0 15px;
        text-transform: capitalize;
    }
    nav ul{
        text-decoration: none;
        list-style: none; 
        padding: 0;             
    }
    nav ul li{
        display: inline-block;
        margin: 0 15px;
    
    }
    nav ul li a{
    
        text-decoration: none;
         font-size:20px;
         text-transform: capitalize;
         font-weight: bold;
         color: white;
         padding: 8px 12px;
    }
    nav ul li a:hover {
        background-color: purple;

    } 
    section {
        margin: 20px;
        padding: 20px;
        background-color:#03fcbe ;
        border-radius: 15px;
        border: 3px solid white;
    }
    article{
        margin-bottom: 20px;
        padding: 20px;
        border: 3px solid red;
        width: 600px;
    }
