*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    box-shadow: 0 2px 10px black;
    background-color: gold;
    position:sticky;
    z-index: 1000;
    top: 0;
}
.logo{
    font-size: 26px;
    color: white;
    font-weight: bold;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.search{
    padding: 7px 12px;
    border: 1px solid orange;
    border-radius: 5px;
}
.cart{
    margin-left: 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}